<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='contact-us.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='temp/assets/images/icon.ico') }}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Contact Us</title>
</head>

<body>
  <!-- HEADER -->
  <header>
    <nav class="navbar">
      <div class="logo">Electric Vehicle Services</div>
      <ul class="nav-links">
        <li><a href="{{ url_for('home') }}" class="cta">Home</a></li>
        <li><a href="{{ url_for('about') }}" class="cta">About</a></li>
  
        
      </ul>
    </nav>
  </header>

  <!-- CONTACT FORM -->
  <div class="container">
    <form id="contact_usform" action="/contact_us" method="POST" class="form">
      <h1 class="form__title">Contact Us</h1>

      <label for="name" class="form__label">Name:</label>
      <input type="text" id="name" name="name" required class="form__input" />

      <label for="email" class="form__label">Email:</label>
      <input type="email" id="email" name="email" required class="form__input" />

      <label for="message" class="form__label">Feedback:</label>
      <textarea id="message" name="message" required class="form__input" rows="5"></textarea>

      <button type="submit" class="form__button">Send</button>
    </form>
  </div>

  {% if message %}
    <script>
      alert("{{ message }}");
    </script>
  {% endif %}
</body>
</html>
